@model IEnumerable<PhotoContest.App.Models.Notification.NotificationViewModel>
@{
    ViewBag.Title = "Notifications";
}

@if (!Model.Any())
{
    <div class="col-md-7 col-md-offset-1">
        <h2>No Notifications</h2>
        <hr/>
    </div>
}
else
{
    <div class="col-md-7 col-md-offset-1" id="notifications">
        <h2>Notifications</h2>
        @using (Ajax.BeginForm("MarkAllAsRead", "Notifications", new AjaxOptions {HttpMethod = "POST"}))
        {
            @Html.AntiForgeryToken()
            <button type="submit" onclick="changeBackgroundToAll()" class="btn btn-sm btn-primary pull-right">Mark all As Read</button>
        }
        <hr />
        @Html.DisplayForModel()
    </div>
}

<script>
    function changeBackgroundToAll() {
        var notifications = $('#notifications > DIV');

        for (var i = 0; i < notifications.length; i++) {
            notifications.eq(i).removeAttr("class");
            notifications.eq(i).attr("class", "row thumbnailRead");
        }
    }
</script>