@using PagedList.Mvc
@using PhotoContest.App.Models.Contest
@model ParticipantsViewModel
@{
    ViewBag.Title = "Participants";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="col-md-7 col-md-offset-1">
    <h2>Manage contest's participants</h2>

    <div class="row">
        <div class="col-md-12">
            @Html.DisplayForModel()
        </div>
    </div>
    @Html.PagedListPager(Model.Participants, page => Url.Action("Participants", new { page, ViewBag.sortBy }))
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function hideModal(id) {
            $(id).modal('hide');
        }
    </script>
}




