@model PhotoContest.App.Models.Account.EditProfileBindingModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <h3>Edit your profile info.</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @Html.ActionLink("Change your password", "ChangePassword")
        </dd>
    </dl>
    <div>
        @using (Html.BeginForm("EditProfile", "Manage", FormMethod.Post, new { @class = "form-vertical", role = "form" }))
        {
            @Html.EditorForModel();
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Save Changes" />
                </div>
            </div>
        }
    </div>
</div>
