@model PhotoContest.App.Models.Contest.DetailsContestViewModel

<div class="row">
    <div class="jumbotron">
        <h1>@Model.Title</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Manage Contest</a></p>

        <div class="media">
            <div class="media-left">
                <img src="@Model.Thumbnail" alt="@Model.Title" />
            </div>
        </div>
    </div>

    <div class="page-header">
        <p>@Model.Description</p>
    </div>
</div>