@model PhotoContest.App.Models.Contest.GalleryViewModel
@{
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
    ViewBag.Title = "Gallery";
}

@if (Model.CurrentPicture != null)
{
    <div class="col-md-12">
        <div class="">
            <div class="row">
                @Html.DisplayFor(m => m.CurrentPicture, "_GalleryPictureViewModel")
            </div>
        </div>
        <div class="row">
            <div class="caption centerBlock">
                <br />
                @if (Model.PreviousPictureId != null)
                {
                    <a href="/contests/@Model.ContestId/Gallery?pictureId=@Model.PreviousPictureId" id="left"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                }
                <span> Picture @(Model.CurrentPictureIndex + 1) from @Model.PicturesCount </span>
                @if (Model.NextPictureId != null)
                {
                    <a href="/contests/@Model.ContestId/Gallery?pictureId=@Model.NextPictureId" id="right"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                }
            </div>
        </div>

    </div>
}
else
{
    <h3>The gallery is empty.</h3>
}

@section scripts
{
    <script>
            $(document).keydown(function (e) {
                switch (e.which) {
                    case 37: // left
                        if ($('#left').length) {
                            window.location.href = $('#left').attr('href');
                        }
                        break;
                        break;
                    case 39: // right
                        if ($('#right').length) {
                            window.location.href = $('#right').attr('href');
                        }
                        break;
                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });

            function removeVoteButton()
            {
                $('#vote-button').remove();
            }
    </script>
}

