@model PhotoContest.App.Models.Contest.FullContestViewModel
@{
    ViewBag.Title = Model.ContestSummary.Title;
}
<div class="col-md-7 col-md-offset-1">
    @Html.Partial("_ContestHeader", Model.ContestSummary)

    @if (Model.Winners != null)
    {
        @Html.Partial("_ContestWinners", Model.Winners)
    }
</div>