@model PhotoContest.App.Models.Contest.DetailsContestViewModel
@using PhotoContest.Models.Enumerations
@{
    ViewBag.Title = "GetContestById";
}
<div class="col-md-7 col-md-offset-1">
    @Html.Partial("_ContestHeader", Model)
</div>
