
@{
    ViewBag.Title = "Contact";
}

<div class="col-md-7 col-md-offset-1">
    <h2>Contacts</h2>
    <h3>Team GOTRAOBDT</h3>
    <p>(whatever that means :)</p>
    <ul>
        <li><a href="https://softuni.bg/users/profile/show/asyamincheva">Asya Mincheva</a></li>
        <li><a href="https://softuni.bg/users/profile/show/a.angelov">Anatoli Angelov</a></li>
        <li><a href="https://softuni.bg/users/profile/show/barish">Barish Yumerov</a></li>
        <li><a href="https://softuni.bg/users/profile/show/strahilruychev">Strahil Ruychev</a></li>
    </ul>
    <p><a href="https://github.com/GOTRAOBDT/PhotoContest">Our project at GitHub : github.com/GOTRAOBDT/PhotoContest</a></p>
</div>

