@using PagedList
@using PagedList.Mvc
@using PhotoContest.App.Models.Contest
@model IPagedList<SummaryContestViewModel>

@{
    ViewBag.Title = "Photo Contests";
}

<div class="col-md-7 col-md-offset-1">
    <h1>Welcome to Photo Contests!</h1>
    <div class="row">
        @Html.DisplayForModel()
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.sortBy }))
</div>