
@{
    ViewBag.Title = "Rules of Engagement";
}

<div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <ol>
                <li>It is not OK to upload pornographic, erotic or discriminating in any way pictures. Our super-powerfull Admin will delete them immediately.</li>
                <li>It is recommended that you upload beautifull pictures :)</li>
                <li>It is desirable to upload only pictures you shot yourself.</li>
                <li>We don't like pictures that promote products and/or services. These will be deleted as well.</li>
                <li>We reserve the right to ban/delete any picture that we deem violates the above said rules.</li>
            </ol>
            <p><em>That's it. Upload, vote and win prizes!</em></p>
        </div>
    </div>
</div>
