@model PhotoContest.App.Models.Contest.PrizeViewModel
@{
    ViewBag.Title = "PrizeViewModel";
}
<div class="form-group">

    @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>
