@model PhotoContest.App.Models.Pictures.UploadPictureBindingModel

@{
    ViewBag.Title = "Upload a Picture";
}

<div class ="col-md-7 col-md-offset-1">
    <h2>Upload a Picture</h2>

    @Html.Partial("_UploadPicture", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}