body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sidebar {
    margin-top: 2em;
}

.contest-list:hover {
    text-decoration: none;
}

.full-image {
    max-width: 600px;
}

.gallery-image {
    max-width: 900px !important;
    max-height: 500px !important;
}

.system-message {
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

#admin-link {
    color: #CD3333;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}

.thumbnail-image-container {
    overflow: hidden;
    max-height: 200px;
}

.thumbnail-image-size {
    max-width: 100%;
}

.contest-title {
    color: coral;
}

.contest-description {
    color: lightgoldenrodyellow;
    margin-bottom: 10px;
}

#hub-message a {
    color: red;
}

.logo-container {
    line-height: 30px;
    padding: 3px !important;
}

.logo-image {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.fixed-height-thumbnail {
    height: 370px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.profile-image-container {
    display: block;
    max-width:250px;
    max-height:250px;
    margin-right: 15px;
    overflow: hidden;
}